
.scroll a{
  text-decoration: none;
}
.App{
background-color: #121212;
padding: 0 104px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.title{
  font-size: 24px;
    font-weight: 600;
    margin: 0rem 0;
    border-radius: 5px;
    text-align: center;
}
.brand-logo img{
width: 123px;
height: 50px;
}

.nav {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 1;
  /* margin-left:119px; */
}
.nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav ul li a {
  text-decoration: none;
  color: #8D8D8D;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.bannertext{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 5% 50% 0% 5%;
 
  align-items: left;
  gap: 5px;
/* flex-wrap: wrap; */
}
.play{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.play1{
  position:inherit;
}

.play img:hover{
cursor: pointer;
color:red
}


form {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  #navbar {
    display: none;
  }

  #mobile {
    display: block;
  }
}
  .scroll {
    display: flex;
    overflow-x: auto;
    column-gap: 10px;
    width: 100%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
    flex-wrap: nowrap;
    scroll-behavior: smooth; 
}

.scroll::-webkit-scrollbar {
    height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 4px;
}
.scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Edge */
}

.cardMovie {
  flex: 0 auto;
  width: 192px;
  height: auto;
  
}

.banner {
  position: relative;
  height: 480px;
  background-position: center;
  color: white;
  background-color: #151414;
  box-shadow: 10px 5px 5px rgb(108, 108, 109);
  margin-bottom: 1rem;
  text-align: center;

  
}


.Moviebanner{
  width: 100%;
  height: 480px;
  background-color: #151414 0.5;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;

}
.para{
  font-size: 1.5rem;
  text-align: center;
}
.Moviebanner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5; 
}
.seeall{
  display: flex;
  color: #8D8D8D;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.trailer{
  display: flex;
  flex-direction: row;
  color: #8D8D8D;
  align-items: top;
  justify-content: space-between;
  margin-top: 24px;

  /* margin: 24px 0px; */
} 


.movieTr{
  background-color: #2A2A2B ;
  padding: 24px;
  margin: 24px 0;
  border-radius:10px ;
}


.cast{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80;
  height: 115px;
  color: #8D8D8D;
  margin: 24px 0px;
  overflow: hidden;
}
.heart1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
  gap : 0.5rem;
}

@media screen and (max-width: 960px){
  
  nnertext img{
    width: 75%;
    height: 75%;
  }
  .bannertext .play img{
    width: 10%;
    height: 50%;
  }
  .App{
    background-color: #121212;
    padding: 0 10px;
    }
}

@media (max-width: 780px) {
  .cardMovie {
      width: auto;
      height:40%;
      margin: 5px 0;
     
  }
 
  .bannertext img{
    width: 40%;
    height: 40%;
  }
  .bannertext .play img{
    width: 10%;
    height: 50%;
    font-size: 0.5rem;
  }
  .bannertext p{
    margin: 0.1rem 0;
  }
  .play{
    margin-top: 0px;
  }

  .App{
    background-color: #121212;
    padding: 0 10px;
    }
    
  .scroll {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
    /* flex-grow: 1; */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
    flex-wrap: nowrap;
    scroll-behavior: smooth; 

    
}
.brand-logo img{
  width: 61.5px;
  height: 25px;
  }
  .nav {
    display: flex;
    justify-content: left; 
    align-items: center;
    height: 40px;
    width: 100%;
    /* margin-left:119px; */
  }

}


